body {
    background-color: #eff5f5;
}

.rc-slider-track {
  background-color: silver;
}

.rc-slider-handle {
  background-color: white;
  border-color: steelblue;
}


.box {
  border-radius: 5px;
  background-color: #eff5f5;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px steelblue;
}

.smallbox {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 1px;
  box-shadow: 2px 2px 2px steelblue;
}

h2 {
  text-align: center;
  background-color: #eff5f5;
  font-family: Verdana;
}

h1, h3, h4, h5, h6 {
  text-align: center;
  background-color: #f9f9f9;
  font-family: Verdana;
  font-weight:normal;
}

.examples {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 80%;
    height: 100%;
}



@media (max-width: 900px) {
  .row {
    display: block;
  }
}